In [1]:
# importing relevant libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
# loading the provided food datasets into their respective pandas dataframes

food_prod = pd.read_csv('Africa Food Production (2004 - 2013).csv')
food_supply = pd.read_csv('Africa Food Supply (2004 - 2013).csv')

In [3]:
# creating copies for the two dataframes inorder to initiate inspection and other relevant assessments

food_prod_0 = food_prod.copy()
food_supply_0 = food_supply.copy()

##### Question 01 - Which three countries had the lowest food supply between 2004 and 2006 respectively(inclusive)?

In [4]:
# selecting rows where the year is between 2004 and 2013
# assigning the filtered dataframe to a new variable - lowet_supply  
low = food_supply_0.query('Year >= 2004 & Year <= 2006')

# sorting the value entries in ascending order
low1 = low.sort_values(['Value'], ascending=[True])

# reassigning the index to the sorted dataframe
low2 = low1.reset_index(drop=True)

In [5]:
low3 = low2.groupby('Country')['Value'].sum().to_frame().reset_index()
lowest_three = low3.sort_values(['Value'], ascending=[True])
lowest_three.head(3)

                     Country  Value
43                    Zambia   5577
13                  Ethiopia   5827
7   Central African Republic   6044

##### No 2 - Which country produced the highest amount of Oats in 2010?

In [ ]:
# filtering the production dataset for Oats Item
Oats = food_prod_0.query('Item == "Oats"')

# filtering the Oats dataset for the year 2010
Oats_2010 = Oats.query('Year == 2010')

# returning the row with the highest value
highest = Oats_2010['Value'].max()
Oats_2010.query('Value == @highest')

    Country  Item  Year  Value
46  Algeria  Oats  2010     88

##### No 3 - What three countries have produced the highest total quantity of rice from 2004 to 2013?

In [ ]:
# filtering the production dataset for Rice (Milled Equivalent) Item
rice = food_prod_0.query('Item == "Rice (Milled Equivalent)"')

# goruping by country and summing the values in the new filtered dataset
rice1 = rice.groupby('Country')['Value'].sum().to_frame().reset_index()

# rearranging the values in descending order to return the top 3 countries with the highest rice production
highest_rice = rice1.sort_values(['Value'], ascending=[False])
highest_rice.head(3)

       Country  Value
9        Egypt  40370
26     Nigeria  26964
18  Madagascar  26118